<div class="row each-post" id = 'postid-<%= post._id%>'>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <img src="<%= post.user.avatar%>" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            </div>
            <div class="col-md-8 text-start">
                <div class="row">
                    <div class="col-md-12">
                        <h6><%= post.user.name %></h6>
                    </div>
                    <div class="col-md-12">
                        <small>
                            <p><%= moment(post.user.createdAt).format("MMM Do YY") %></p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            
                
                <% if(locals.user && locals.user.id == post.user.id) { %>
                
                    <!-- <div class= "dropdown" >
                        <button class="btn btn-secondary dropdown-toggle post-btn" type="button" data-bs-toggle="dropdown" >
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item delete-post-button" href="/users/posts/deletepost/<%= post.id%>">Delete</a></li>
                        </ul>
                    </div> -->
                    <a class="dropdown-item-del  delete-post-button" href="/users/posts/deletepost/<%= post.id%>"><i class="fas fa-trash-alt"> </i></a>
                <% } %>
                    
            </div>
            <hr>
        </div>
        
        <div class="row">
            <div class="col-md-12 p-3 text-start">
                <p class="p-1"><%= post.content%></p>
            </div>
        </div> 

        
        <div class="row">
            <div class="col-md-12 d-flex">
                <a class="toggle-like-button px-2" data-likes="<%= post.likes.length %>" href="/users/posts/likes/toggle/?id=<%= post.id%>&type=post">
                    <i class="fas fa-heart"> 
                        
                    </i> <span id = 'likeNo'><%= post.likes.length %></span>
                    <% if(post.likes.length <= 1) {%> 
                        
                        Like
                        
                    <%} else {%>
                        
                        Likes
                    
                    <% } %>
                    
                </a>
                <a class="toggle-like-button px-2" data-likes="<%= post.likes.length %>" href="/users/posts/likes/toggle/?id=<%= post.id%>&type=post">
                    <i class="fas fa-comments"> </i> <span id = 'likeNo'><%= post.comments.length %></span>
                     <% if(post.comments.length <= 1) {%> 
                        
                        Comment
                        
                    <%} else {%>
                        
                        Comments
                    
                    <% } %>
                </a>
            </div>
        </div>
        <!-- form to submit the comment starts-->
        <div class="post-comments row d-flex align-items-baseline">
            <% if(locals.user) {%>
                <div class="col-md-2 ">
                    <img src="<%= user.avatar%>" class="rounded-circle" alt="Cinque Terre" width="40" height="40">
                </div>
                <div class="col-md-10">
                            <form action="/users/posts/createcomment" method="POST" id='post-<%= post._id%>-comments-form'  class ='d-flex align-items-center'>
                                <textarea class=" feed-post" rows="1" name="content"  required placeholder="Write a comment.." style="
                                border: none;
                                background-color: #2c3441;
                                padding: 10px;"></textarea>
                                <input type="hidden" name="postId" value="<%= post._id%>">   
                                <button type="submit" class="btn btn-primary post-btn lcsnewer"><i class="fas fa-paper-plane"></i></button>
                            </form>
                </div>
            
            <%}%>
            <hr>
        </div>
        <!-- form to submit the comment ends -->
        <!-- <hr> -->
        <!-- showing all the comments from the database -->
        <div class="row post-comments-list align-items-center" id='post-comments-<%= post._id%>'>
            <% for(comment of post.comments) {%>
                <!-- user profile photo -->
                <div class="row" id="comment-<%= comment._id%>" >
                    <div class="col-md-2 align-items-center">
                        <img src="<%= comment.user.avatar %>" class="rounded-circle" alt="Cinque Terre" width="40" height="40">
                    </div>
                    <!-- comment and user that commented -->
                    <div class="col-md-8 text-start" id="comment-<%= comment._id%>" > 
                        <h6><%= comment.user.name%></h6>
                        <p><%= comment.content%></p>
                        
                    </div>
                    <!-- delete the comment button -->
                    <div class="col-md-2">
                
                    
                        <% if(locals.user && locals.user.id == comment.user.id) { %>
                        
                            <div class= "dropdown" >
                                <!-- <button class="btn btn-secondary dropdown-toggle post-btn" type="button" data-bs-toggle="dropdown" >
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item-del delete-comment-button" href="/users/posts/deletecomment/<%= comment.id%>">Delete</a></li>
                                </ul> -->
                                <a class="dropdown-item-del delete-comment-button" href="/users/posts/deletecomment/<%= comment.id%>"><i class="fas fa-trash-alt"> </i></a>
                            </div>
                            
                        <% } %>
                            
                    </div>
                </div>
                
            <%}%>
        </div>
    </div>
</div>