<link rel="stylesheet" href="/css/user_posts.css">
<link rel="stylesheet" href="/css/user_profile.css">
<%- include('_header_user_profile')%>
<div class="row justify-content-center">
    <div class="col-md-6 second-col">
        <!-- cover photo -->
        <%- include("_coverphoto_user_profile") -%>
        <!-- profile photo and  edit profile details page -->
        <%- include("_profilephoto_user_profile") -%>
        <hr>

       
        <div class="row ">
             <!-- Intro part contains bio and update bio button -->
            <%- include("_intro_user_profile") -%>

            <!-- all posts posted by the logged in user -->
            <%- include("_posts_user_profile") -%>
            <hr>
        </div>
    </div>
</div>